version: '3.8'

services:
  cohabit-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cohabit-api
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      # ASP.NET Core
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    
    restart: unless-stopped
    networks:
      - cohabit-network

networks:
  cohabit-network:
    driver: bridge
