version: '3.8'

services:
  cohabit-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cohabit-api
    ports:
      - "8080:8080"
    environment:
      # Database
      - ConnectionStrings__DefaultConnection=${ConnectionStrings__DefaultConnection}
      - ConnectionStrings__HangfireConnection=${ConnectionStrings__HangfireConnection}
      # JWT
      - JwtOptions__Secret=${JwtOptions__Secret}
      - JwtOptions__Issuer=${JwtOptions__Issuer}
      - JwtOptions__Audience=${JwtOptions__Audience}
      - JwtOptions__ExpirationInMinutes=${JwtOptions__ExpirationInMinutes}
      - JwtOptions__RefreshTokenExpirationInDays=${JwtOptions__RefreshTokenExpirationInDays}
      
      # PayOS
      - PayOS__ClientId=${PayOS__ClientId}
      - PayOS__ApiKey=${PayOS__ApiKey}
      - PayOS__ChecksumKey=${PayOS__ChecksumKey}
      - PayOS__BaseUrl=${PayOS__BaseUrl}
      - PayOS__ReturnUrl=${PayOS__ReturnUrl}
      - PayOS__CancelUrl=${PayOS__CancelUrl}
      
      # Cloudinary
      - Cloudinary__CloudName=${Cloudinary__CloudName}
      - Cloudinary__ApiKey=${Cloudinary__ApiKey}
      - Cloudinary__ApiSecret=${Cloudinary__ApiSecret}
      
      # Brevo
      - Brevo__BaseUrl=${Brevo__BaseUrl}
      - Brevo__ApiKey=${Brevo__ApiKey}
      
      # ASP.NET Core
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    
    restart: unless-stopped
    networks:
      - cohabit-network

networks:
  cohabit-network:
    driver: bridge
