version: '3.8'

services:
  cohabit-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cohabit-api
    ports:
      - "8080:8080"
    environment:
      # Database
      - ConnectionStrings__DefaultConnection=Host=aws-1-ap-south-1.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.aqppzynhyhrndknnuulw;Password=Xoai_051207;SSL Mode=Require;Trust Server Certificate=true
      
      # JWT
      - JwtOptions__Secret=64b3ac846cc513e9295e605973ce3e841acc26000b59025d264264cd263a9c73
      - JwtOptions__Issuer=CoHabit
      - JwtOptions__Audience=CoHabit
      - JwtOptions__ExpirationInMinutes=30
      - JwtOptions__RefreshTokenExpirationInDays=7
      
      # PayOS
      - PayOS__ClientId=691eb3e3-5b7a-43ad-8fcb-39000ea9b461
      - PayOS__ApiKey=2432c0dc-0b3a-4f1c-8158-2d27812cdbe6
      - PayOS__ChecksumKey=c818edb17e884d9035a15da7d66942fc2b3a424ad7233987a7975c3c342b93c7
      - PayOS__BaseUrl=https://api-merchant.payos.vn/
      - PayOS__ReturnUrl=http://localhost:5173/premium/payment
      - PayOS__CancelUrl=http://localhost:5173/premium/payment
      
      # Cloudinary
      - Cloudinary__CloudName=dw7d6ohdk
      - Cloudinary__ApiKey=927383243691951
      - Cloudinary__ApiSecret=t0MFkgH16mMwIhPWFTXQxXKzR0g
      
      # Brevo
      - Brevo__BaseUrl=https://api.brevo.com/v3/
      - Brevo__ApiKey=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
      
      # ASP.NET Core
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
    
    restart: unless-stopped
    networks:
      - cohabit-network

networks:
  cohabit-network:
    driver: bridge
